
  .fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto; 
  } 
  
  .fixed-content {
    margin-left: 0px; 
    padding: 24px;
    min-height: 100vh; 
    overflow-y: auto; 
  }
  

/* Custom hover styles for the sidebar menu items */
.custom-sidebar-item:hover {
   /* Green background on hover */
  color: black !important; /* Black text color on hover */
}

.custom-sidebar-submenu:hover {
  /* Gold background for submenus on hover */
  color: black !important;
}